.App{
    background-color: rgba(241, 241, 241, 0.788);
    
}
.prnt-comp{
    background-color: rgba(224, 224, 224, 0.432);
}
.phones{
    background-color: rgba(218, 221, 221, 0.979);

}
.laptop{
    background-color: rgb(203, 216, 216);
}
.tablets{
    background-color: rgb(203, 206, 216);
}